<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12">
      <h1 class="principal-title">Historial</h1>
      <hr class="line-separator" />
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-11">
      <table class="table table-bordered center-xs">
        <thead>
          <tr class="table-secondary">
            <th>#</th>
            <th>Nombre</th>
            <th>Fecha y hora</th>
            <th>Duración</th>
            <th>Resultado</th>
            <th>Notas</th>
            <th>Realizado por</th>
            <th>Seguimiento requerido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>John Freddy Tutistar Calvache</td>
            <td>9/10/2024 10:25</td>
            <td>5 min</td>
            <td>Contactado</td>
            <td>Llamar de nuevo</td>
            <td>Jorge Rivera</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
