<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12">
      <h1 class="principal-title">Historial</h1>
      <hr class="line-separator" />
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12">
      <table class="table table-bordered center-xs">
        <thead>
          <tr class="table-secondary">
            <th>#</th>
            <th>Nombre</th>
            <th>Fecha y hora</th>
            <th>Duración</th>
            <th>Resultado</th>
            <th>Notas</th>
            <!-- <th>Realizado por</th> -->
            <th>Seguimiento requerido</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataCallHistory">
            <td>{{ item.index }}</td>
            <td>{{ name }}</td>
            <td>{{ item.formattedDate }}</td>
            <td>{{ item.duration }}</td>
            <td>
              {{ item.results }} 
              <mat-icon *ngIf="item.results === 'contactado'" style="color: #008dd5;">call_made</mat-icon> 
              <mat-icon *ngIf="item.results === 'no contestó'" style="color: #d90000;">call_missed</mat-icon> 
            </td>
            <td>{{ item.observation }}</td>
            <!-- <td>{{ item.review }}</td> -->
            <td>{{ item.tracing }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
