.table-with-header {
  padding: 0px 0px 20px 0px !important;
}

.register-button {
  height: 50px;
  margin-top: 10px;
  color: white;
  background-color: #0c3859;
}

.register-button:hover {
  background-color: #1f5ba3;
  transition: .3s;
}
