<div class="container">
    <div class="row center-xs">
        <div class="col-xs-12 col-md-8">
            <h1 class="principal-title"><b>Registro de usuarios</b></h1>
            <hr class="line-separator">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="principal-title">Información básica</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Primer nombre</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Segundo nombre</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Primer apellido</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Segundo apellido</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Fecha de nacimiento</mat-label>
                                <input matInput type="date">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Genero</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Nacionalidad</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xs-12 col-md-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="principal-title">Información de contacto</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Correo electronico institucional</mat-label>
                                <input matInput type="email">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Telefono de contacto</mat-label>
                                <input matInput type="number">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Dirección</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="principal-title">Información profesional </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Titulo academicol</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Área de especialización</mat-label>
                                <input matInput type="number">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Departamento o facultad</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Cargo o posición</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Años de experiencia</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Fecha de contratación</mat-label>
                                <input matInput type="date">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xs-12 col-md-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="principal-title">Información laboral </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Tipo de contrato</mat-label>
                                <select ></select>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Área de especialización</mat-label>
                                <input matInput type="number">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Departamento o facultad</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Cargo o posición</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Años de experiencia</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field class="width-inputs">
                                <mat-label>Fecha de contratación</mat-label>
                                <input matInput type="date">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
