<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-8">
      <h1 class="principal-title"><b>REGISTRO DE USUARIO</b></h1>
      <hr class="line-separator" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <mat-card class="table-with-header">
        <mat-card-title
          class="principal-title"
          style="
            padding: 10px;
            border-radius: 10px 10px 0 0;
            background-color: #006363;
          "
          ><h4 style="margin-bottom: 0px; font-size: 1.1rem; color: #fff">
            Información básica
          </h4></mat-card-title
        >
        <mat-card-content>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Primer nombre</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Segundo nombre</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Primer apellido</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Segundo apellido</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput type="date" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Genero</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Correo electronico institucional</mat-label>
                <input matInput type="email" />
                <mat-icon matSuffix style="color: #006363;">mail</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  type="password"
                  [type]="hide ? 'password' : 'text'"
                />
                <a
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon style="font-size: 25px; color: #006363;">{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </a>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xs-12 col-md-6">
      <mat-card class="table-with-header">
        <mat-card-title
          class="principal-title"
          style="
            padding: 10px;
            border-radius: 10px 10px 0 0;
            background-color: #ba1828;
          "
          ><h4 style="margin-bottom: 0px; font-size: 1.1rem; color: #fff">
            Información profesional
          </h4></mat-card-title
        >
        <mat-card-content>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Titulo academico</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Área de especialización</mat-label>
                <input matInput type="number" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Departamento o facultad</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Cargo o posición</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Años de experiencia</mat-label>
                <input matInput type="text" />
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Fecha de contratación</mat-label>
                <input matInput type="date" />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <mat-card class="table-with-header">
        <mat-card-title
          class="principal-title"
          style="
            padding: 10px;
            border-radius: 10px 10px 0 0;
            background-color: #1f5ba3;
          "
          ><h4 style="margin-bottom: 0px; font-size: 1.1rem; color: #fff">
            Información de contacto
          </h4></mat-card-title
        >
        <mat-card-content>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Correo electronico personal</mat-label>
                <input matInput type="email" />
                <mat-icon matSuffix style="color: #1f5ba3;">email</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Celular</mat-label>
                <input matInput type="number" />
                <mat-icon matSuffix style="color: #1f5ba3;">smartphone</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Telefono fijo</mat-label>
                <input matInput type="number" />
                <mat-icon matSuffix style="color: #1f5ba3;">phone</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Dirección residencial</mat-label>
                <input matInput type="text" />
                <mat-icon matSuffix style="color: #1f5ba3;">home</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xs-12 col-md-6">
      <mat-card class="table-with-header">
        <mat-card-title
          class="principal-title"
          style="
            padding: 10px;
            border-radius: 10px 10px 0 0;
            background-color: #2c3967;
          "
          ><h4 style="margin-bottom: 0px; font-size: 1.1rem; color: #fff">
            Información laboral
          </h4></mat-card-title
        >
        <mat-card-content>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Tipo de contrato</mat-label>
                <mat-select matNativeControl>
                  <mat-option value="" aria-disabled="true"></mat-option>
                  <mat-option value="">Tiempo completo</mat-option>
                  <mat-option value="">Medio tiempo</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Horario de trabajo</mat-label>
                <mat-select matNativeControl>
                  <mat-option value="" aria-disabled="true"></mat-option>
                  <mat-option value="">Jornada diurna</mat-option>
                  <mat-option value="">Jornada nocturna</mat-option>
                  <mat-option value="">Fines de semana</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <mat-form-field class="width-inputs">
                <mat-label>Fecha de finalización de contrato</mat-label>
                <input matInput type="date" />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row end-xs">
    <div class="col-xs-12 rigth"></div>
    <button mat-raised-button class="register-button">
      <mat-icon>save</mat-icon>
      Crear usuario
    </button>
  </div>
</div>
