<mat-selection-list [multiple]="false" style="width: 300px">

  <mat-list-option style="color: #fff;">
    <a routerLink="home" class="navItem">
        <mat-icon>person</mat-icon>
        <span style="margin-left: 10px;">Área personal</span>
    </a>
  </mat-list-option>

  <mat-list-option style="color: white;">
    <a routerLink="home" class="navItem">
        <mat-icon>home</mat-icon>
        <span style="margin-left: 10px;">Página principal</span>
    </a>
  </mat-list-option>

  <mat-list-option style="color: white;">
    <a routerLink="search" class="navItem">
        <mat-icon>content_paste_search</mat-icon>
        <span style="margin-left: 10px;">Estado del aspirante</span>
    </a>
  </mat-list-option>

  <mat-list-option style="color: white;">
    <a routerLink="help" class="navItem">
        <mat-icon>help</mat-icon>
        <span style="margin-left: 10px;">Ayuda</span>
        
    </a>
  </mat-list-option>

</mat-selection-list>
