<mat-selection-list [multiple]="false" style="width: 300px">

  <mat-list-option style="color: white;">
    <a routerLink="home" class="navItem">
        <mat-icon>person</mat-icon>
        <span>Área personal</span>
    </a>
  </mat-list-option>

  <mat-list-option style="color: white;">
    <a routerLink="home" class="navItem">
        <mat-icon>home</mat-icon>
        Página principal
    </a>
  </mat-list-option>

  <mat-list-option style="color: white;">
    <a routerLink="home" class="navItem">
        <mat-icon>help</mat-icon>
        Ayuda
    </a>
  </mat-list-option>

</mat-selection-list>
