<span style="flex: 1 1 auto"></span>

<a routerLink="/">
  <!-- <img src="assets/images/logotipo_unicesmag.png" alt="logoUnicesmag" width="150" style="padding-right: 25;"> -->
  <img
    src="assets/images/LOGO1.png"
    alt="logoEdutrackpro"
    class="logoToolbar"
    width="200"
  />
</a>

<span style="flex: 1 1 auto"></span>

<button
  mat-button
  matTooltip="notificaciones"
  style="color: #2c3967"
  [matMenuTriggerFor]="notifications"
>
  <mat-icon
    style="color: #2c3967"
    matBadgeOverlap="false"
    style="font-size: x-large"
  >
    notifications
  </mat-icon>
</button>

<button
  mat-button
  matTooltip="notificaciones"
  style="color: #2c3967"
  [matMenuTriggerFor]="persons"
>
  <mat-icon
    style="color: #2c3967"
    matBadgeOverlap="false"
    style="font-size: x-large"
  >
    person
  </mat-icon>
</button>

<button
  mat-flat-button
  class="login-button"
  style="margin-left: 20px"
  [routerLink]="['auth/login']"
>
  Iniciar sesión
</button>

<!-- displayec notifications -->
<mat-menu #notifications> </mat-menu>

<mat-menu #persons>
  <div class="userMobile" style="text-align: center; padding: 0 20px">
    <h3 style="margin-bottom: 0; font-weight: 500">Hola</h3>
    <h3 style="margin-bottom: 10px; font-weight: 500">Usuario Invitado</h3>
    <!-- <h3 style="margin-bottom: 10px; font-weight:500;">{{ user.firstName }} {{ user.firstSurname }}</h3> -->
    <mat-divider></mat-divider>
  </div>
  <button mat-menu-item
    >
    <mat-icon>help_outline</mat-icon>
    <span>Ayuda</span>
  </button>
</mat-menu>
