.login-button {
    height: 50px;
    margin-top: 10px;
    color: white; 
    background-color: #0c3859;
}

.login-button:hover {
    background-color: #1f5ba3;
    transition: .3s;
}

// Responsive
// small screen

@media only screen and (max-width: 600px) {
    .logoToolbar {
        width: 150px !important;
    }
    .hide-on-small {
      display: none !important;
    }
    .show-on-small {
      display: block !important;
    }
    .center-on-small {
      text-align: center;
    }
    .container {
      padding: 0px;
    }
    mat-card {
      padding: 25px 0px !important;
      mat-card-title, mat-form-field {
        padding: 0px 10px;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        width: stretch; /* More Modern. */
      }
    }
  }

// medio y pequeño
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
  .show-on-medium-and-down {
    display: block !important;
  }
}
// medio y grande
@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important;
  }
  .show-on-medium-and-up {
    display: block !important;
  }
}