<span style="flex: 1 1 auto"></span>

<a routerLink="/">
  <!-- <img src="assets/images/logotipo_unicesmag.png" alt="logoUnicesmag" width="150" style="padding-right: 25;"> -->
  <img
    src="assets/images/LOGO1.png"
    alt="logoEdutrackpro"
    class="logoToolbar"
    width="200"
  />
</a>

<span style="flex: 1 1 auto"></span>

<button
  mat-button
  matTooltip="notificaciones"
  style="color: #2c3967"
  [matMenuTriggerFor]="notifications"
>
  <mat-icon
    style="color: #2c3967"
    matBadgeOverlap="false"
    style="font-size: 25px"
  >
    notifications
  </mat-icon>
</button>

<button
  *ngIf="!userLoginOn"
  mat-button
  matTooltip="notificaciones"
  style="color: #2c3967"
  [matMenuTriggerFor]="persons"
>
  <mat-icon
    style="color: #2c3967"
    matBadgeOverlap="false"
    style="font-size: 25px"
  >
    person
  </mat-icon>
</button>

<button
  *ngIf="!userLoginOn"
  mat-flat-button
  class="login-button hide-on-small"
  style="margin-top: 0"
  [routerLink]="['auth/login']"
>
  Iniciar sesión
</button>

<!-- Usuario loggeado -->
<button *ngIf="userLoginOn" mat-button [matMenuTriggerFor]="persons">
  <mat-icon class="profile-photo-40r-default"></mat-icon>
  <span style="margin-top: 8px; color: #0c478c" class="hide-on-small"
    ><b
      >{{ userData[0].firstName.toUpperCase() }}
      {{ userData[0].firstLastName.toUpperCase() }}</b
    ></span
  >
</button>

<!-- displayed notifications -->
<mat-menu #notifications> </mat-menu>

<mat-menu #persons xPosition="before">
  <div class="userMobile" style="text-align: center; padding: 0 20px">
    <h3 style="margin-bottom: 0; font-weight: 500">Hola</h3>
    <h3 *ngIf="!userLoginOn" style="margin-bottom: 10px; font-weight: 500">
      Usuario Invitado
    </h3>
    <h3 *ngIf="userLoginOn" style="margin-bottom: 10px; font-weight: 500">
      {{ userData[0].firstName }} {{ userData[0].firstLastName }}
    </h3>
    <mat-divider></mat-divider>
  </div>

  <button
    *ngIf="!userLoginOn"
    class="hide-on-med-and-up"
    mat-menu-item
    [routerLink]="['auth/login']"
  >
    <mat-icon class="icons">account_circle</mat-icon>
    <span>Iniciar sesión</span>
  </button>

  <button *ngIf="userLoginOn" mat-menu-item [routerLink]="['auth/account/:id']">
    <mat-icon class="icons">account_circle</mat-icon>
    <span>Mi perfil</span>
  </button>

  <button routerLink="help" mat-menu-item>
    <mat-icon class="icons">help_outline</mat-icon>
    <span>Ayuda</span>
  </button>

  <button *ngIf="userLoginOn" mat-menu-item (click)="onLogout()">
    <mat-icon class="icons">logout</mat-icon>
    Salir
  </button>
</mat-menu>
