.approved:active {
    // background-color: #52be80;
    // color: #fff !important;
    background-color: #b3dbb0;
    color: #378659 !important;
}

.revision:active {
    // background-color: #ffa621;
    // color: #fff !important;
    background-color: #f7ed97;
    color: #e19c36 !important;
}

.giveUp:active {
    // background-color: #009da8;
    // color: #fff !important;
    background-color: #c0e2e8;
    color: #009da8 !important;
}

.rejected:active {
    // background-color: #d90000;
    // color: #fff !important;
    background-color: #eca69d;
    color: #d90000 !important;
}
