<div class="container">
  <mat-card>
    <div class="row center-xs">
      <div class="col-xs-12 col-md-8">
        <h1>Mi perfil</h1>
        <hr class="line-separator" />
      </div>
    </div>

    <div class="row center-xs">
      <div class="col-xs-12 col-md-10">
        <mat-icon
          class="profile-photo-40r-default"
          style="width: 150px !important; height: 150px !important"
        >
        </mat-icon>
      </div>
      <div class="col-xs-11 col-md-4">
        <input type="file" />
      </div>
    </div>

    <form
      [formGroup]="updateProfileUser"
      autocomplete="off"
      (ngSubmit)="updateForm()"
    >
      <div class="row center-xs">
        <div class="col-xs-12 col-md-6 col-lg-3">
          <mat-form-field class="width-inputs" appearance="fill">
            <mat-label>Primer nombre</mat-label>
            <input matInput type="text" formControlName="firstName" />
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <mat-form-field class="width-inputs" appearance="fill">
            <mat-label>Segundo nombre</mat-label>
            <input matInput type="text" formControlName="secondName" />
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <mat-form-field class="width-inputs" appearance="fill">
            <mat-label>Primer apellido</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="firstLastName"
            />
            <mat-error
              *ngIf="
                updateProfileUser.controls['firstLastName'].touched &&
                updateProfileUser.controls['firstLastName'].hasError('required')
              "
            >
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <mat-form-field class="width-inputs" appearance="fill">
            <mat-label>Segundo apellido</mat-label>
            <input matInput type="text" formControlName="secondLastName" />
          </mat-form-field>
        </div>
      </div>

      <div class="row center-xs">
        <div class="col-xs-12 col-md-6 col-lg-3">
          <mat-form-field class="width-inputs" appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput type="date" required formControlName="birthday" />
            <mat-error
              *ngIf="
                updateProfileUser.controls['birthday'].touched &&
                updateProfileUser.controls['birthday'].hasError('required')
              "
            >
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <mat-form-field class="width-inputs" appearance="fill">
            <mat-label>Celular</mat-label>
            <input matInput type="number" formControlName="phoneNumber" />
            <mat-hint>digite solo <b>numeros</b></mat-hint>
            <mat-error
              *ngIf="
                updateProfileUser.controls['phoneNumber'].touched &&
                updateProfileUser.controls['phoneNumber'].hasError('required')
              "
            >
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <mat-form-field class="width-inputs" appearance="fill">
            <mat-label>Departamento o falcultad</mat-label>
            <input matInput type="text" required formControlName="faculty" />
            <mat-error
              *ngIf="
                updateProfileUser.controls['faculty'].touched &&
                updateProfileUser.controls['faculty'].hasError('required')
              "
            >
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <mat-form-field class="width-inputs" appearance="fill">
            <mat-label>Cargo o posición</mat-label>
            <input matInput type="text" formControlName="possition" />
            <mat-error
              *ngIf="
                updateProfileUser.controls['possition'].touched &&
                updateProfileUser.controls['possition'].hasError('required')
              "
            >
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-xs-12 col-md-10">
          <button type="submit" mat-raised-button class="register-button">
            <mat-icon>save</mat-icon>
            Guardar Cambios
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
