<div class="bigContainer">
    <div class="image"></div>
    <div class="section-float">
        <!-- background-color: #0c3859 -->
        <section style="background-color: rgba(7, 68, 125, 0.4); text-align: center; padding: 100px 20px; color: white;">
            <h1 style="font-size: 2.4em;"><b>¡Bienvenido!</b></h1> 
            <hr class="line-separator" style="background-color: #fff;">
            <br>
            <h3>En el menú izquierdo, encuentra los modúlos habilitados para su usuario, puede iniciar sesión en la barra superior.</h3>
            <br><br>
            <img src="assets/images/logo_unicesmag_blanco.png" alt="logo unicesmag" width="250">
        </section>
    </div>
</div>
