<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-12">
      <h1 class="principal-title">Editar</h1>
      <hr class="line-separator">
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-10">
      <img src="" alt="" >
      <mat-icon 
        class="profile-photo-40r-default" 
        style="width: 150px !important;
               height: 150px !important;">
      </mat-icon>
    </div>
    <input type="file">
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-3">
      <mat-form-field class="width-inputs" appearance="fill">
        <mat-label>Primer nombre</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-3">
      <mat-form-field class="width-inputs" appearance="fill">
        <mat-label>Segundo nombre</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-3">
      <mat-form-field class="width-inputs" appearance="fill">
        <mat-label>Primer apellido</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-3">
      <mat-form-field class="width-inputs" appearance="fill">
        <mat-label>Segundo apellido</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
  </div>
</div>