<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-12">
      <h1 class="principal-title">Editar</h1>
      <hr class="line-separator">
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-10">
      <img src="" alt="" >
      <mat-icon
        class="profile-photo-40r-default"
        style="width: 150px !important;
               height: 150px !important;">
      </mat-icon>
    </div>
    <input type="file">
  </div>
  <form [formGroup]="updateUser" autocomplete="off" (ngSubmit)="update()">
    <div class="row center-xs">
      <div class="col-xs-12">
        <p>Ingrese su <b>información académica</b></p>
      </div>
      <div class="col-xs-10 col-md-4">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Nivel de formación</mat-label>
          <mat-select matNativeControl formControlName="levelEducation">
            <mat-option value="postgrado">Postgrado</mat-option>
            <mat-option value="pregrado">Pregrado</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-xs-10 col-md-4">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Programa académico</mat-label>
          <mat-select matNativeControl formControlName="academicProgram">
            <mat-option value="sistemas">Ingeniería de Sistemas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-xs-10 col-md-4">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Jornada</mat-label>
          <mat-select matNativeControl formControlName="studySchedule">
            <mat-option value="diurno">Diurno</mat-option>
            <mat-option value="nocturno">Nocturno</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row center-xs">
      <div class="col-xs-12">
        <p>Ingrese a continuación su <b>información personal</b></p>
      </div>
      <div class="col-xs-10 col-md-3">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Primer nombre</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-10 col-md-3">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Segundo nombre</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-10 col-md-3">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Primer apellido</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>
      <div class="col-xs-10 col-md-3">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Segundo apellido</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-10 col-md-3">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Genero</mat-label>
          <input matInput type="text" formControlName="gender">
        </mat-form-field>
      </div>
      <div class="col-xs-10 col-md-3">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Celular</mat-label>
          <input matInput type="number" formControlName="phone">
        </mat-form-field>
      </div>
      <div class="col-xs-10 col-md-3">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Dirección de residencia</mat-label>
          <input matInput type="text" formControlName="adress">
        </mat-form-field>
      </div>
      <div class="col-xs-10 col-md-3">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-10 col-md-4">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Tipo de identificación</mat-label>
          <mat-select matNativeControl formControlName="identificationType">
            <mat-option value="cc">Cédula de ciudadanía</mat-option>
            <mat-option value="ti">Tarjeta de identidad</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xs-10 col-md-4">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Numero de identificación</mat-label>
          <input type="number" matInput formControlName="identificationNumber">
        </mat-form-field>
      </div>
      <div class="col-xs-10 col-md-4">
        <mat-form-field class="width-inputs" appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input type="date" matInput formControlName="birthdate">
        </mat-form-field>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12">
        <button mat-raised-button class="button-hover" style="background-color: #0c3859; color: #fff;"><mat-icon>update</mat-icon> Guardar cambios</button>
      </div>
    </div>
  </form>
</div>
