.register-button {
    height: 50px;
    width: 180px;
    margin-top: 10px;
    color: white;
    background-color: #0c3859;
  }
  
  .register-button:hover {
    background-color: #1f5ba3;
    transition: .3s;
  }