<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12">
      <h1 class="principal-title">Registro de llamada</h1>
      <hr class="line-separator" />
    </div>
  </div>
  <form [formGroup]="formGroupSend" autocomplete="off" (ngSubmit)="sendData()">
    <div class="row center-xs">
      <div class="col-xs-12 col-md-10 col-lg-6">
        <div class="row center-xs">
          <div class="col-xs-11">
            <mat-form-field class="width-inputs" appearance="fill">
              <mat-label>Resultado</mat-label>
              <mat-select formControlName="results" required>
                <mat-option
                  *ngFor="let idType of results"
                  [value]="idType.value"
                >
                  {{ idType.viewValue }}
                  <mat-icon
                    [ngClass]="{
                      statusOkCall: idType.value === 'CONTACTADO',
                      statusMissedCall: idType.value === 'NO CONTACTADO'
                    }"
                    >{{ idType.icon }}</mat-icon
                  >
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  formGroupSend.controls['results'].touched &&
                  formGroupSend.controls['results'].hasError('required')
                "
              >
                Este campo es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-11">
            <mat-form-field class="width-inputs" appearance="fill">
              <mat-label>Requiere seguimiento</mat-label>
              <mat-select formControlName="tracing">
                <mat-option value="si">Si</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-11">
            <mat-form-field class="width-inputs" appearance="fill">
              <mat-label>Observación</mat-label>
              <input
                type="text"
                matInput
                formControlName="observation"
                placeholder="opcional"
              />
            </mat-form-field>
          </div>
          <div class="col-xs-11">
            <mat-form-field class="width-inputs" appearance="fill">
              <mat-label>Duración en minutos</mat-label>
              <input
                type="number"
                matInput
                formControlName="duration"
                placeholder="tiempo en minutos"
              />
              <mat-hint>Digite solo <b>numeros</b></mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-10 col-lg-6 center-xs hide-on-med-and-down">
        <img src="assets/images/logo-call.png" alt="" width="280" />
      </div>
      <div class="col-xs-12">
        <button mat-raised-button color="primary">
          <mat-icon>save</mat-icon> Guardar registro
        </button>
      </div>
    </div>
  </form>
</div>
