<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-11">
      <h1><b style="color: #2c3967">Estado Actual de Admisión</b></h1>
      <hr class="line-separator" />
    </div>
  </div>

  <div class="spacer"></div>

  <div class="row center-xs">
    <div class="col-xs-12 col-md-11">
      <mat-card class="table-with-header" style="padding: 0 !important">
        <mat-card-title
          class="principal-title"
          style="
            padding: 10px;
            border-radius: 10px 10px 0 0;
            background-color: #0c3859;
          "
          ><h4 style="margin-bottom: 0px; font-size: 1.1rem; color: #fff">
            <b>Información del Aspirante</b>
          </h4></mat-card-title
        >
        <mat-card-content class="hide-on-small-only">
          <table
            class="striped centered table-with-overflow"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th style="width: 25%">N° Identificación</th>
                <th style="width: 25%">Nombres y apellidos</th>
                <th style="width: 25%">Programa académico</th>
              </tr>
            </thead>
            <tr *ngFor="let user of ELEMENT_DATA">
              <td>{{ data[0].identificationNumber }}</td>
              <td>
                {{ data[0].firstName }}
                {{ data[0].secondName }}
                {{ data[0].firstLastName }}
                {{ data[0].secondLastName }}
              </td>
              <td>{{ data[0].academicProgram }}</td>
            </tr>
          </table>
          <hr
            class="line-separator"
            style="width: 100%; background-color: lightgray; height: 1px"
          />
          <table class="striped centered table-with-overflow">
            <thead>
              <tr>
                <th>Fecha de solicitud</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tr *ngFor="let user of ELEMENT_DATA">
              <td>{{ data[0].inscriptionDate }}</td>
              <td style="display: flex; justify-content: center">
                <div
                  class="box-color small center-xs"
                  [ngClass]="{
                    statusPending: user.status.toUpperCase() === 'EN REVISIÓN',
                    statusOk: user.status.toUpperCase() === 'APROBADO',
                    statusRejected: user.status.toUpperCase() === 'RECHAZADO'
                  }"
                >
                  {{ data[0].status }}
                </div>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br />

  <div class="row center-xs">
    <div class="col-xs-12 col-md-11">
      <mat-card class="table-with-header" style="padding: 0 !important">
        <mat-card-title
          class="principal-title"
          style="
            padding: 10px;
            border-radius: 10px 10px 0 0;
            background-color: #006363;
          "
          ><h4 style="margin-bottom: 0px; font-size: 1.1rem; color: #fff">
            <b>Estado Actual de la Solicitud</b>
          </h4></mat-card-title
        >
        <mat-card-content class="hide-on-small-only">
          <div class="row center-xs" *ngFor="let data of ELEMENT_DATA">
            <div class="col-xs-12 col-md-6">
              <div class="row">
                <div class="col-xs-12">
                  <h4><b>Indicador del proceso de admisión</b></h4>
                  <ngx-gauge
                    type="arch"
                    label="completado"
                    cap="butt"
                    [append]="'%'"
                    [min]="0"
                    [value]="80"
                    [max]="100"
                    [thick]="8"
                    [size]="130"
                  >
                  </ngx-gauge>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="row">
                <div class="col-xs-12">
                  <h4>
                    <b>Historial de estados</b><br />
                    (timeline)
                  </h4>
                  <timeline-h [stages]="stagesTimeLine"></timeline-h>
                  <p *ngIf="stagesTimeLine.length === 0" style="color: red">
                    Aún no tiene estados anteriores
                  </p>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br />

  <div class="row center-xs">
    <div class="col-xs-12 col-md-6">
      <mat-card style="padding: 0 !important">
        <mat-card-title
          class="principal-title center-xs"
          style="
            padding: 10px;
            border-radius: 10px 10px 0 0;
            background-color: #1f5ba3;
          "
          ><h4 style="margin-bottom: 0px; font-size: 1.1rem; color: #fff">
            <b>Estado de documentos</b>
          </h4>
        </mat-card-title>
        <mat-card-content>
          <table
            class="striped centered table-with-overflow"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th style="width: 25%">Tipo de documento</th>
                <th style="width: 25%">Estado</th>
              </tr>
            </thead>
            <tr *ngFor="let document of documentsData">
              <td>{{ document.documentName }}</td>
              <td>
                <span
                  [ngClass]="{
                    aproved: document.status === 'Aprobado',
                    pending: document.status === 'Pendiente',
                    rejected: document.status === 'Rechazado'
                  }"
                >
                  {{ document.status }}
                </span>
              </td>
            </tr>
          </table>
          <!-- <div class="row middle-xs" style="padding: 0 !important">
            <div class="col-xs-2 col-md-2">
              <mat-icon>description</mat-icon>
            </div>
            <div class="col-xs-7 col-md-7">
              <p style="margin: 0">Cédula/TI</p>
            </div>
            <div class="col-md-3 col-md-3">
               <p class="aproved">Aprobado</p>
            </div>
          </div>
          <hr
            class="line-separator"
            style="
              width: 100%;
              background-color: lightgray;
              height: 1px;
              margin: 0;
            "
          />
          <div class="row middle-xs" style="padding: 0 !important">
            <div class="col-xs-2 col-md-2">
              <mat-icon>description</mat-icon>
            </div>
            <div class="col-xs-7 col-md-7">
              <p style="margin: 0">Diploma/Acta</p>
            </div>
            <div class="col-md-3 col-md-3">
              <mat-icon style="color: #52be80">check_circle</mat-icon>
            </div>
          </div>
          <hr
            class="line-separator"
            style="
              width: 100%;
              background-color: lightgray;
              height: 1px;
              margin: 0;
            "
          />
          <div class="row middle-xs" style="padding: 0 !important">
            <div class="col-xs-2 col-md-2">
              <mat-icon>description</mat-icon>
            </div>
            <div class="col-xs-7 col-md-7">
              <p style="margin: 0">Pruebas saber 11 (4 pag)</p>
            </div>
            <div class="col-md-3 col-md-3">
              <mat-icon style="color: #52be80">check_circle</mat-icon>
            </div>
          </div> -->
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-xs-12 col-md-5">
      <mat-card class="table-with-header" style="padding: 0 !important">
        <mat-card-title
          class="principal-title center-xs"
          style="
            padding: 10px;
            border-radius: 10px 10px 0 0;
            background-color: #1f5ba3;
          "
          ><h4 style="margin-bottom: 0px; font-size: 1.1rem; color: #fff">
            <b>Resultados</b>
          </h4>
        </mat-card-title>
        <mat-card-content>
          <div class="row middle-xs" style="padding: 0 !important">
            <div class="col-xs-6 col-md-6">
              <p style="margin: 0">Entrevista</p>
            </div>
            <div class="col-md-6 col-md-6">
              <mat-icon style="color: #52be80">check_circle</mat-icon>
            </div>
          </div>
          <hr
            class="line-separator"
            style="
              width: 100%;
              background-color: lightgray;
              height: 1px;
              margin: 0;
            "
          />
          <div class="row middle-xs">
            <div class="col-xs-6 col-md-6">
              <p>Prueba de conocimientos</p>
            </div>
            <div class="col-md-6 col-md-6">
              <mat-icon style="color: #ffa621">error</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1363.56 150.89"
  style="width: 100%"
  id="curvaSec"
>
  <defs>
    <style>
      .gs_gray_separator {
        fill: #efefef;
      }
    </style>
  </defs>
  <g id="Capa_2" data-name="Capa 2">
    <g id="Capa_1-2" data-name="Capa 1">
      <path
        class="gs_gray_separator"
        d="M0,150.89V23.78C234.18,6,452.51,1.55,414.33,74.52c-43.19,82.53,187.12,91.71,460.79-15.95s322.61-43.4,406.95,6.86c27.75,16.54,56,20.65,81.49,18.73v66.73"
      ></path>
    </g>
  </g>
</svg>
