// aprobado
.aproved {
    background-color: #b3dbb0;
    color: #378659;
    font-size: 12px;
    border-radius: 10px;
    margin: 0;
    padding: 2px;
    font-weight: bold;
}
// pendiente
.pending {
    background-color: #ffa621;
    color: #000;
    border-radius: 12px;
    margin: 0;
    padding: 2px;
}
// rechazado
.rejected {
    background-color: #d90000;
    color: #fff;
    border-radius: 10px;
    margin: 0;
    padding: 2px;
}