// aprobado
.aproved {
    background-color: #52be80;
    color: #fff;
    border-radius: 10px;
    margin: 0;
    padding: 2px;
}
// pendiente
.pending {
    background-color: #ffa621;
    color: #000;
    border-radius: 10px;
    margin: 0;
    padding: 2px;
}
// rechazado
.rejected {
    background-color: #d90000;
    color: #fff;
    border-radius: 10px;
    margin: 0;
    padding: 2px;
}