// aprobado
.aproved {
    background-color: #b3dbb0;
    color: #378659;
    font-size: .8em;
    border-radius: 10px;
    margin: 0;
    padding: 2px;
    font-weight: bold;
}
// pendiente
.pending {
    background-color: #f7ed97;
    color: #c38529;
    font-size: .8em;
    border-radius: 10px;
    margin: 0;
    padding: 2px;
    font-weight: bold;
}
// rechazado
.rejected {
    background-color: #eca69d;
    color: #d90000;
    font-size: .8em;
    border-radius: 10px;
    margin: 0;
    padding: 2px;
    font-weight: bold;
}